 
<br>
<div class="mycentered">
    <div style="margin-top: 5px;" >
        <ngb-carousel>
        <ng-template ngbSlide>
            <img src="https://media.gettyimages.com/photos/this-is-a-tjunction-in-south-london-and-frost-has-done-its-work-up-picture-id183851840?s=2048x2048" alt="Slide 3. Make sure about internet connection" style="width: 100%; height: 500px;">
          <div class="carousel-caption">
            <h3> Lorem ipsum dolor sit.</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla asperiores temporibus ipsum. Nulla cupiditate libero et vitae ab! Repellendus? </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="https://media.gettyimages.com/photos/water-pollution-picture-id121101708?s=2048x2048" alt="Slide 2. Make sure about internet connection" style="width: 100%; height: 500px;">
          <div class="carousel-caption">
            <h3 style="color: black"> Lorem ipsum dolor sit.</h3>
            <p style="color: black"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla asperiores temporibus ipsum. Nulla cupiditate libero et vitae ab! Repellendus? </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="https://media.gettyimages.com/photos/new-delhi-street-life-picture-id458921925?s=2048x2048" alt="Slide 4. Make sure about internet connection" style="width: 100%; height: 500px;">
          <div class="carousel-caption">
            <h3 style="color: black"> Lorem ipsum dolor sit.</h3>
            <p style="color: black"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla asperiores temporibus ipsum. Nulla cupiditate libero et vitae ab! Repellendus? </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="https://media.gettyimages.com/photos/water-pollution-picture-id157588637?s=2048x2048" alt="Slide 1. Make sure about internet connection" style="width: 100%; height: 500px;">
          <div class="carousel-caption">
            <h3 style="color: black"> Lorem ipsum dolor sit.</h3>
            <p style="color: black"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla asperiores temporibus ipsum. Nulla cupiditate libero et vitae ab! Repellendus? </p>
          </div>
        </ng-template>
        </ngb-carousel>
      </div>
</div>

<div class="jumbotron text-center">
    <h2> Why Complaints App? </h2>
</div>
<div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, voluptatibus odit! Facilis, harum accusantium ut omnis aut voluptatum dicta nemo, illo quia numquam hic nesciunt a nostrum ullam necessitatibus corrupti autem quasi modi. Rerum explicabo, eum saepe minima nam voluptates sequi harum perspiciatis fuga quos nostrum aspernatur repudiandae incidunt corporis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem voluptates beatae atque. Vero, necessitatibus alias ratione quasi assumenda qui quo voluptate? Voluptates dolore officia quis excepturi rem illo accusantium aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quia veritatis quae molestiae fuga cupiditate.</p>
</div>
<br>
<br>
<hr>
<div class="jumbotron text-center">
  <h2> Complaints </h2>
</div>
<!-- <div class="container">
    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
      <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let filt_prod of filter_product; let i = index">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
            scope="row">{{i}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{filt_prod.complainName}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{filt_prod.time}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{filt_prod.complainerName}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{filt_prod.city}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{filt_prod.area}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{filt_prod.type}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{filt_prod.status}}</td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div> -->

<!-- <div style="padding-left: 0.5em; padding-right: 0.5em;" >
    <div class="row" class="wrapper">
      <div *ngFor="let i of filter_product | filter:term  | paginate: { itemsPerPage: 6, currentPage: p } ; let i1=index" class="wrapper2">
            <div style="background-color: rgb(199, 213, 235)"> 

              <h5>NAME : {{i.complainName}}</h5>
              <h6>Date for it is available: {{i.time}}</h6>
              <h6>NAME : {{i.complainerName}} </h6>
            </div>
            <div style="background-color: rgb(197, 212, 228)">
              <h6>CITY : {{i.city}} </h6>
              <h6>AREA : {{i.area}} </h6>
              <h6>TYPE : {{i.type}} </h6>
            </div>
          <div >
            <div> 
                <h5>STATUS : {{i.status}}</h5>
             </div>  
          </div>
        </div>
    </div>
  </div> -->
  
  <!-- <pagination-controls (pageChange)="p = $event" style="text-align:center"></pagination-controls> -->
  <mat-form-field>
    <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="filter_product" class="mat-elevation-z8">
  
    
    <ng-container matColumnDef="Complaint">
      <th mat-header-cell *matHeaderCellDef> Complain </th>
      <td mat-cell *matCellDef="let element"> {{element.complainName}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Complainer">
      <th mat-header-cell *matHeaderCellDef> Complainer </th>
      <td mat-cell *matCellDef="let element"> {{element.complainerName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="City">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="Area">
      <th mat-header-cell *matHeaderCellDef> Area </th>
      <td mat-cell *matCellDef="let element"> {{element.area}} </td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  
  
<!-- <div class="scrolling-wrapper">
  <div  class="card" *ngFor="let i of complains ; let i1=index" style="margin-left: 5px ;padding: 5px; border:2px solid black;">
        <div style="background-color: #fafdfc; margin: 1 px;"> 
        <h5>NAME : {{i.complainName}}</h5>
        <h6>Date for it is available: {{i.time}}</h6>
        <h6>NAME : {{i.complainerName}} </h6>
      </div>

      <div style="background-color: #e3faf4; margin: 1 px;">
          <h6>CITY : {{i.city}} </h6>
          <h6>AREA : {{i.area}} </h6>
          <h6>TYPE : {{i.type}} </h6>
      </div>

      <div style="background-color: #fafdfc; margin: 1 px;"> 
          <h5>STATUS : {{i.status}}</h5>
        </div>
 
  </div>
</div> -->
<br>
<br>
<hr>
<!-- <h1> Total Number Of Complains Registed is : {{numberObject?.Health}}</h1>
<h3> Total Number Of Complains For Water : {{numberObject?.Water}} </h3>
<h3>  Total Number Of Complains For Road  : {{numberObject?.Road}} </h3>
<h3>  Total Number Of Complains For Infrastructure  : {{numberObject?.Infrastrucutre}} </h3> -->
<!-- <h3>  Total Number Of Complains that are COMPLETED :  {{numberObject?.Completed}} </h3> -->

<div class="jumbotron text-center">
    <h2> Visual Representation </h2>
  </div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
          <canvas id="pieRegistered"></canvas>
      </div>
      <div class="col-4">
          <canvas id="pieCompleted"></canvas>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
<!-- <div>
    <div style="width: 40%" float="left">
      <canvas id="pieRegistered"></canvas>
    </div>
    
    <div style="width: 40%" float="right">
      <canvas id="pieCompleted"></canvas>
    </div>
</div> -->
